node_modules/
build/
.react-router/
dist/

.env
.env.*
!.env.example

*.sqlite
*.sqlite-journal
/prisma/dev.db
/prisma/dev.db-journal

# Local development process logs
.shopify-dev.*.log

.DS_Store
npm-debug.log*

.shopify/
